root/bin/systemconfig.dat
root/bin/systemdefinedvars.dat
root/bin/user.json
root/phar.setalias(1).html
root/phar.setalias.html
test/
#omake/
root/bin/plugins/onigiri/plugin.yml
root/bin/plugins/
bin/php7/
root/home/logs/2016_07_28.log
root/home/logs/2016_07_29.log
root/home/logs/2016_07_30.log
root/starting-markdown.html
root/home/logs/
